<div class="footer-section">
  <div class="section-1">
    <a class="section-1-title" routerLink="/">Cartlog</a>
    <p class="section-1-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque deserunt assumenda dolor et
      perferendis. Provident.</p>
  </div>
  <div class="section-2">
    <p class="section-2-title">Shop</p>
    <ul class="section-2-lists">
      <li><a routerLink="/">My account</a></li>
      <li><a routerLink="/products/mens">Men's</a></li>
      <li><a routerLink="/products/womens">Women's</a></li>
      <li><a routerLink="/products/mens">Kid's</a></li>
      <li><a routerLink="/products/mens">Shoes</a></li>
      <li><a routerLink="/products/womens">Gadget's</a></li>
      <li><a routerLink="/products/mens">Bag's</a></li>
      <li><a routerLink="/products/womens">Skincare</a></li>
      <li><a routerLink="/products/womens">Watch</a></li>
    </ul>
  </div>
  <div class="section-2">
    <p class="section-2-title">Support</p>
    <ul class="section-2-lists">
      <li><a routerLink="/">Contact Us</a></li>
      <li><a routerLink="/wishlist">Wishlist</a></li>
      <li><a routerLink="/cart">Cart</a></li>
    </ul>
  </div>
  <div class="section-2">
    <p class="section-2-title">Newsletter</p>
    <p class="section-1-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptatem laudantium non magni, ullam iste. Deleniti, eos eum. Quaerat voluptate facere rerum corporis? Repellat exercitationem, animi necessitatibus voluptas veritatis quis.</p>
    <input type="email" placeholder="Enter email">
    <button class="footer-subscribe">Subscribe</button>
  </div>
</div>