.topbrands-section {
  .topbrands-container {
    .topbrands-title {
      font-family: "Playfair Display", serif;
      text-align: center;
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .topbrands-img-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));

      .topbrands-img {
        border-radius: 8px;
        margin-bottom: 20px;
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .topbrands-section{
    .topbrands-container{
      .topbrands-img-container{
        grid-gap: 15px;
        // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-columns: repeat(3, minmax(200px,1fr));
        .topbrands-img{
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .topbrands-section{
    .topbrands-container{
      .topbrands-img-container{
        grid-gap: 15px;
        // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-columns: repeat(2, minmax(265px,1fr));
        .topbrands-img{
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 625px) {
  .topbrands-section{
    .topbrands-container{
      .topbrands-img-container{
        grid-gap: 15px;
        grid-template-columns: repeat(1, minmax(100px,1fr));
        .topbrands-img{
          width: 100%;
        }
      }
    }
  }
}
