<div class="products-grid" *ngIf="gridlayout === 'grid'">
  <div class="product-grid" *ngFor="let item of data">
    <div class="product-img-section">
      <a [routerLink]="location !== 'productlist' ? '/products/' + item.category + '/' + item.id : item.id"><img
          [src]="item.images[0]" alt="item.name" class="feature-img"></a>
      <i class="pi pi-heart wishlist" *ngIf="!item.isWishlisted" (click)="handleFunction('wishlist', item)"></i>
      <i class="pi pi-heart-fill wishlist" *ngIf="item.isWishlisted" (click)="handleFunction('wishlist', item)"></i>
      <i class="pi pi-shopping-cart cart" *ngIf="!item.isAddtoCart" (click)="handleFunction('cart', item)"></i>
      <i class="pi pi-cart-plus cart" *ngIf="item.isAddtoCart" (click)="handleFunction('cart', item)"></i>
    </div>
    <div class="product-section">
      <p class="product-title">{{item.name}}</p>
      <p class="product-price">₹ {{item.price}}</p>
      <star-rating [readOnly]="true" [getHalfStarVisible]="item.rating" [step]="0.5" [showHalfStars]="true"
        [starType]="'svg'" [rating]="item.rating"></star-rating>
    </div>
  </div>
</div>

<div class="product-liststyle-container" *ngIf="gridlayout === 'list'">
  <div class="product-liststyle" *ngFor="let item of data">
    <div class="liststyle-section-2" *ngIf="!item.isGiftCard">
      <img [src]="item.images[0]" alt="item.name">
    </div>
    <div class="giftcard-section-2" *ngIf="item.isGiftCard">
      <img [src]="item.images[0]" alt="item.name">
    </div>
    <div class="liststyle-section-1">
      <div class="wrapper-1">
        <a [routerLink]="location !== 'productlist' ? '/products/' + item.category + '/' + item.id : item.id" *ngIf="!item.isGiftCard">
          <div class="liststyle-title">{{item.name}}</div>
        </a>
        <div class="giftcard-title" *ngIf="item.isGiftCard">{{item.name}}</div>
        <div class="liststyle-price">₹ {{item.price}}</div>
        <div class="liststyle-rating" *ngIf="!fromCart"><span>{{item.rating}}</span>
          <star-rating [readOnly]="true" [getHalfStarVisible]="item.rating" [step]="0.5" [showHalfStars]="true"
            [starType]="'svg'" [rating]="item.rating"></star-rating>
        </div>
        <div class="liststyle-desc" *ngIf="!fromCart">{{item.desc}}</div>
        <div class="liststyle-cart-content" *ngIf="fromCart && !item.isGiftCard && !fromCheckout">
          <div class="liststyle-sizes">
            <div [ngClass]="currentClass(size, item)" (click)="handleFunction('size',item,size)" *ngFor="let size of item.sizes">{{size}}</div>
            <span class="warning-size" *ngIf="!item.selectedSize">Please Select Size</span>
          </div>
          <div class="liststyle-qty">
            <button class="qty-controls" (click)="handleFunction('qty',item,'-')">-</button>
            <div class="qty">{{item.qty || 1}}</div>
            <button class="qty-controls" (click)="handleFunction('qty',item,'+')">+</button>
          </div>
        </div>
        <div class="giftcard-qty" *ngIf="item.isGiftCard">Qty: 1</div>
        <div class="fromcheckout-qty" *ngIf="fromCheckout">Quantity: {{item.qty}}</div>
        <div class="fromcheckout-qty" *ngIf="fromCheckout">Size: {{item.selectedSize}}</div>
      </div>
      <div class="wrapper-2">
        <div [ngClass]="{'add-to-cart-active': item.isWishlisted, 'add-to-cart': !item.isWishlisted}"
          (click)="handleFunction('wishlist', item)" *ngIf="location!=='order'">
          <span *ngIf="!item.isWishlisted">Wishlist</span>
          <span *ngIf="item.isWishlisted">Wishlisted</span>
          <i class="pi pi-heart wishlist" *ngIf="!item.isWishlisted"></i>
          <i class="pi pi-heart-fill wishlist" *ngIf="item.isWishlisted"></i>
        </div>
        <div class="add-to-cart" (click)="fromCart ? handleFunction('cart', item) : handleFunction('wishlist', item)" *ngIf="location==='order' && !fromCheckout">
          <i class="pi pi-trash wishlist"></i>
          <span>Remove</span>
        </div>
        <div [ngClass]="{'add-to-cart-active': item.isAddtoCart, 'add-to-cart': !item.isAddtoCart}"
          (click)="handleFunction('cart', item)" *ngIf="location!=='order'">
          <span *ngIf="!item.isAddtoCart">Add to cart</span>
          <span *ngIf="item.isAddtoCart">Added to cart</span>
          <i class="pi pi-shopping-cart cart" *ngIf="!item.isAddtoCart"></i>
          <i class="pi pi-cart-plus cart" *ngIf="item.isAddtoCart"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-center" key="tc"></p-toast>