<div class="home">
  <app-carousel></app-carousel>
  <div class="section">
    <app-category></app-category>
    <app-featured></app-featured>
  </div>
  <div class="banner-section">
    <img src="../../../assets/latest/latest-1 (1).gif" alt="" class="latest-img">
  </div>
  <div class="section">
    <app-latest></app-latest>
  </div>
  <div class="banner-section">
    <img src="../assets/offer/banner-1.avif" alt="" class="latest-img">
  </div>
  <div class="section">
    <app-topbrands></app-topbrands>
  </div>


</div>
