$shades-red : #c8171770;
$grey-border : #D1D5DB;
$grey-breadcrumb : #8b8d91;
$black-color : #001524;
$nav-background :  #f8f6f6;
$scroll-top-background :  #f6ebeb;
$nav-shadow: rgba(0, 0, 0, 0.219);
$search-border : #ced4da;
$search-focus : #5994ec47;
$search-shadow : rgba(189, 213, 248, 0.25);
$gift-card-shadow : rgb(154, 177, 212);
$overlay : rgba(0, 0, 0, 0.228);
$overlay-2 : rgba(0, 0, 0, 0.479);
$autosuggestion-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$autosuggestion-hover: #F3F4F6;
$clear-color: #6499E9;
$giftcard-1-price:#ED902C;
$giftcard-1-title:#f1a218;